*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url(https://images2.alphacoders.com/594/594767.jpg);
    font-family: 'Roboto Condensed', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    padding: 150px;
}
.box{
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background:white ;
    border-radius: 8px;
}
.email{
    width: 190px;
    height: 35px;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 85px;
    margin-left: 50px;
}
.password{
    width: 190px;
    height: 35px;
    border: 2px solid black;
    margin-top: 45px;
    border-radius: 3px;
    margin-left: 50px;
}
.emailtext{
 margin-left: 50px;
 margin-top: -150px;
}
.material-symbols-outlined{
    margin-left: 10px;
    margin-top: -115px;
    position: absolute;
}
.lock{
    margin-top: 85px;
    position: absolute; 
}
.create{
    margin-left: 85px;
    margin-top: -170px;
    position: absolute;
}
.createacc{
    width: 80px;
    height: 40px;
    background: transparent;
    border: none;
    background-color: rgb(0, 140, 255);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 100px;
}